.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 128px 20px;
}

.login-form {
  background-color: #eeeeee;
  color: black;
  padding: 32px 20px;
  flex: 1;
  max-width: 500px;
  margin: 0 20px;
  text-align: center;
}

.login-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form form {
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input,
.login-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-bottom-color: #04aa6d;
}

.login-form button {
  background-color: #04aa6d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #055c3e;
}

.errMsg {
  padding: 48px 48px;
  font-size: 36px;
  font-weight: bold;
  background-color: #eeeeee;
  color: #ed4337;
}
