<div class="modal">
  <div class="modalBody">
    <h2>
      Rename
      <span class="wspTitle">{{ modalSvc.workspaceTitle }}</span> workspace
    </h2>
    <input
      type="text"
      placeholder="New title"
      [(ngModel)]="newTitle"
      [ngClass]="{ error: hasError }"
    />
    <div class="error-message" *ngIf="hasError">
      Please enter a workspace title!
    </div>
    <div class="button-container">
      <button type="cancel" (click)="close()">Cancel</button>
      <button type="submit" (click)="renameWorkspace()">Rename</button>
    </div>
  </div>
</div>

<div class="modalBackground"></div>
