.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 1200;
  /* Enables scrolling for taller modals. */
  overflow: auto;
}

.modalBody {
  padding: 20px;
  background-color: #fff;
  margin: 40px;
}

.modalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #000;
  opacity: 0.75;
  z-index: 1100;
}
.modal button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal button[type="submit"] {
  background-color: #04aa6d;
}
.modal button[type="submit"]:hover {
  background-color: #055c3e;
}
.modal button[type="cancel"] {
  background-color: #ed4337;
}
.modal button[type="cancel"]:hover {
  background-color: #8b2821;
}
