<div class="modal">
  <div class="modalBody">
    <h2>
      Delete
      <span class="wspTitle">{{ modalSvc.objectTitle }}</span>
      {{ modalSvc.objectType }}
    </h2>
    <p>
      Are you sure you want to delete the
      <span class="wspTitle">{{ modalSvc.objectTitle }}</span>
      {{ modalSvc.objectType }}?
    </p>
    <div class="button-container">
      <button type="cancel" (click)="close()">Cancel</button>
      <button type="submit" (click)="deleteObject()">Delete</button>
    </div>
  </div>
</div>

<div class="modalBackground"></div>
