<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About Kanbanly</h2>
        <p>
          Kanbanly is a powerful Kanban board application that helps you
          organize your tasks and projects efficiently.
        </p>
      </div>
      <div class="divider"></div>
      <!-- Divider -->
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a (click)="navigateTo('/home')">Home</a></li>
          <li><a (click)="navigateTo('/kanban')">My Kanban</a></li>
          <li><a (click)="navigateTo('/about')">About</a></li>
          <li><a (click)="navigateTo('/register')">Sign Up</a></li>
        </ul>
      </div>
      <div class="divider"></div>
      <!-- Divider -->
      <div class="footer-section contact-form">
        <h2>Contact Us</h2>
        <form action="#">
          <input
            type="email"
            name="email"
            class="text-input contact-input"
            placeholder="Your email address"
          />
          <textarea
            rows="4"
            name="message"
            class="text-input contact-input"
            placeholder="Your message"
          ></textarea>
          <button type="submit" class="btn">Send</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom"><p>&copy; 2024 Kanbanly | Designed by You</p></div>
</footer>
