<div class="topnav" id="myTopnav">
  <div class="logo">Kanbanly</div>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a
    *ngIf="authSvc.isAuthenticated"
    routerLink="/kanban"
    routerLinkActive="active"
    >My Kanban</a
  >
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a
    *ngIf="!authSvc.isAuthenticated"
    routerLink="/login"
    routerLinkActive="active"
    >Log In</a
  >
  <a
    *ngIf="!authSvc.isAuthenticated"
    routerLink="/register"
    routerLinkActive="active"
    >Sign Up</a
  >
  <a
    *ngIf="authSvc.isAuthenticated"
    routerLink="/login"
    (click)="authSvc.logout()"
    >Logout</a
  >
</div>
