.about-container {
	padding: 0px;
}

.about-section {
	background-color: #eeeeee;
	padding-left: 256px;
	padding-right: 265px;
	padding-top: 192px;
	padding-bottom: 128px;
	text-align: center;
	margin-bottom: 50px;
}

.about-section h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.team-section {
	text-align: center;
	margin-bottom: 50px;
}
.team-section h2 {
	font-size: 32px;
	margin-bottom: 16px;
}

.team-member {
	text-align: center;
	margin-bottom: 20px;
}

.team-member img {
	width: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.contact-section {
	background-color: #eeeeee;
	text-align: center;
	padding: 32px 256px;
}

.contact-section h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
.contact-section form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-section input[type='text'],
.contact-section input[type='email'],
.contact-section textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s;
	background-color: transparent;
	color: #333;
}

.contact-section input[type='text']::placeholder,
.contact-section input[type='email']::placeholder,
.contact-section textarea::placeholder {
	color: #333;
}

.contact-section input[type='text']:focus,
.contact-section input[type='email']:focus,
.contact-section textarea:focus {
	border-bottom-color: #04aa6d;
}

.contact-section button {
	background-color: #04aa6d;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

.contact-section button:hover {
	background-color: #055c3e;
}
