<div class="register-container">
  <div class="register-form">
    <h2>Register</h2>
    <form>
      <input [(ngModel)]="username" name="username" placeholder="Username" />
      <input [(ngModel)]="email" name="email" placeholder="Email" />
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Password"
      />
      <input
        [(ngModel)]="rePassword"
        name="rePassword"
        type="password"
        placeholder="Confirm Password"
      />
      <button (click)="submitRegisterData()">Register</button>
    </form>
  </div>
</div>
