@import "src/styles.scss";

.board {
  width: 300px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .board-header {
    display: flex;
    justify-content: space-between; /* Space out title and icons */
    align-items: center; /* Align items vertically */
    width: 100%; /* Ensure full width */
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .icons fa-icon {
      margin-left: 5px;
      color: $ltGray;
    }
    fa-icon[type="rename"]:hover {
      color: $edit;
    }

    fa-icon[type="delete"]:hover {
      color: $error;
    }
  }
  app-note {
    width: 100%;
  }
  .add-note {
    width: 100%;
    border-radius: 10px;
    margin-top: auto;
    padding: 5px;
    background-color: $ltGray;
    display: flex;
    justify-content: center;
    align-items: center;
    fa-icon {
      color: $matt;
    }
  }
  .add-note:hover {
    background-color: $minty;
    fa-icon {
      color: $ltGray;
    }
  }
}
