<div class="board" [ngStyle]="{ 'background-color': board.colour }">
  <div class="board-header">
    <div class="title">{{ board.title }}</div>
    <div class="icons">
      <fa-icon
        [icon]="renameIcon"
        type="rename"
        (click)="
          modalSvc.openEditModal(
            board._id!,
            board.title,
            'board',
            board.colour
          );
          $event.stopPropagation()
        "
      ></fa-icon>
      <fa-icon
        [icon]="trashIcon"
        type="delete"
        (click)="
          modalSvc.openDeleteModal(board._id!, board.title, 'board');
          $event.stopPropagation()
        "
      ></fa-icon>
    </div>
  </div>
  <app-note *ngFor="let note of notes" [note]="note"></app-note>
  <div class="add-note" (click)="modalSvc.openCreateModal('note', board._id)">
    <fa-icon [icon]="addIcon" type="add"></fa-icon>
  </div>
</div>
