<div class="modal">
  <div class="modalBody">
    <h2>Create new {{ modalSvc.objectType }}</h2>
    <input
      type="text"
      placeholder="Enter {{ modalSvc.objectType }} title"
      [(ngModel)]="newTitle"
      [ngClass]="{ error: inputEmptyErr }"
      (input)="onInput()"
    />
    <div class="error-message" *ngIf="inputEmptyErr">
      Please enter a {{ modalSvc.objectType }} title!
    </div>
    <div *ngIf="modalSvc.objectType === 'note'" class="desc">
      <textarea
        name="description"
        cols="30"
        rows="4"
        type="description"
        placeholder="Enter additional information"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <app-color-picker
      (colorSelected)="onColorSelected($event)"
      [objectType]="modalSvc.objectType"
      [selectedColor]="color"
    ></app-color-picker>
    <div class="error-message" *ngIf="noColorErr">Please select a color!</div>
    <div class="button-container">
      <button type="cancel" (click)="close()">Cancel</button>
      <button type="submit" (click)="createNew()">Create</button>
    </div>
  </div>
</div>

<div class="modalBackground"></div>
