/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 220px;
	background-color: #f1f1f1;
	height: 100%;
	overflow: auto;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: #04aa6d;
	color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/* Form */
.sidebar form {
	padding: 8px;
}

/* Form input */
.sidebar input[type='text'] {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: none; /* Remove default border */
	border-bottom: 2px solid transparent; /* Add transparent bottom border */
	border-radius: 0; /* Remove border radius */
	transition: border-color 0.3s; /* Add transition effect */
}
.sidebar input[type='text']:focus {
	border-bottom-color: #04aa6d; /* Change bottom border color on focus */
}

/* Form button */
.sidebar button[type='submit'] {
	background-color: #04aa6d;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Form button on hover */
.sidebar button[type='submit']:hover {
	background-color: #055c3e;
}
/*------------------------*/
