<div class="sidebar">
  <a
    *ngFor="let workspace of workspaceSvc.workspaceInfo"
    [ngClass]="isCurrentWorkspace(workspace._id)"
    (click)="workspaceSvc.changeWorkspace(workspace._id)"
    >{{ workspace?.title }}
    <fa-icon
      [icon]="faTrashAlt"
      (click)="
        workspaceSvc.deleteWorkspace(workspace._id); $event.stopPropagation()
      "
    ></fa-icon>
  </a>
  <form (submit)="addNewWorkspace()">
    <input
      type="text"
      placeholder="Enter workspace title"
      [(ngModel)]="newWorkspaceTitle"
      name="newWorkspaceTitle"
      [ngClass]="{ error: hasError }"
      (focus)="this.hasError = false"
    />
    <div class="error-message" *ngIf="hasError">
      Please enter a workspace title!
    </div>
    <button type="submit">Add</button>
  </form>
</div>
