<div class="sidebar">
  <a
    *ngFor="let workspace of workspaceSvc.workspaceInfo"
    [ngClass]="isCurrentWorkspace(workspace._id)"
    (click)="workspaceSvc.changeWorkspace(workspace._id)"
  >
    <span>{{ workspace?.title }}</span>
    <fa-icon
      [icon]="renameIcon"
      type="rename"
      (click)="
        openModal(workspace.title, workspace._id); $event.stopPropagation()
      "
    ></fa-icon>
    <fa-icon
      [icon]="trashIcon"
      type="delete"
      (click)="
        workspaceSvc.deleteWorkspace(workspace._id); $event.stopPropagation()
      "
    >
    </fa-icon>
  </a>
  <form (submit)="addNewWorkspace()">
    <input
      type="text"
      placeholder="Enter workspace title"
      [(ngModel)]="newWorkspaceTitle"
      name="newWorkspaceTitle"
      [ngClass]="{ error: hasError }"
      (focus)="this.hasError = false"
    />
    <div class="error-message" *ngIf="hasError">
      Please enter a workspace title!
    </div>
    <button type="submit">Add</button>
  </form>
</div>

<app-rename-modal
  *ngIf="isOpenRnmMdl"
  [workspaceTitle]="wspRenameTitle"
  [workspaceId]="wspRenameId"
  (closeModal)="closeModal()"
>
</app-rename-modal>
