/* Home page styles */
.hero-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 64px 20px;
}

.logoNSlogan {
	flex: 2;
	text-align: center;
}

.logoNSlogan h1 {
	font-family: sans-serif;
	font-weight: bold;
	color: #04aa6d;
	font-size: 48px;
}

.logoNSlogan p {
	font-family: sans-serif;
	color: #055c3e;
	font-size: 24px;
	font-style: italic;
}

.loginForm {
	background-color: #eeeeee;
	color: black;
	padding: 32px 20px;
	flex: 1;
	max-width: calc(33.33% - 20px); /* Adjusted width */
	margin-left: 20px;
	text-align: center; /* Add this line */
}

.loginForm h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.loginForm form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginForm input[type='text'],
.loginForm input[type='password'] {
	padding: 10px;
	margin-bottom: 20px; /* Added spacing */
	box-sizing: border-box;
	border: none; /* Remove default border */
	border-bottom: 2px solid transparent; /* Add transparent bottom border */
	border-radius: 0; /* Remove border radius */
	transition: border-color 0.3s; /* Add transition effect */
	background-color: transparent;
	color: #333;
	width: 100%;
}

.loginForm input[type='text']::placeholder,
.loginForm input[type='password']::placeholder {
	color: #333;
}

.loginForm input[type='text']:focus,
.loginForm input[type='password']:focus {
	border-bottom-color: #04aa6d; /* Change bottom border color on focus */
}

.loginForm p {
	margin-top: 10px; /* Added spacing */
	margin-bottom: 10px; /* Added spacing */
}

.loginForm button {
	background-color: #04aa6d;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 auto; /* Add this line */
}

.loginForm button:hover {
	background-color: #055c3e;
}

/* Kanban info styles */
.kanban-info {
	background-color: #333;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	color: #f1f1f1;
	padding: 64px 20px;
	margin-bottom: 50px;
}

.whatIsKanban,
.howToUse,
.benefits {
	flex: 1;
	width: calc(33.33% - 20px); /* Adjusted to evenly space the divs */
	margin-right: 20px;
	padding: 0px 20px;
}

.kanban-info h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.kanban-info p {
	font-family: sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}

.kanban-info ul {
	list-style: none;
	padding-left: 0;
}

.kanban-info li {
	margin-bottom: 10px;
}

/* Content section styles */
.content-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 64px 20px; /* Added padding */
}
.feature,
.testimonial,
.call-to-action {
	padding: 0px 20px;
}

.feature {
	flex: 1;
	max-width: 400px;
	margin-bottom: 30px;
}

.feature h2 {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 15px;
}

.feature p {
	font-size: 16px;
	color: #555;
}

.feature ul {
	list-style: none;
	padding-left: 0;
}
li {
	margin-bottom: 10px; /* Add spacing between list items */
	padding-left: 20px; /* Adjust the spacing of the bullet points */
	text-indent: -15px; /* Move the text to the left to align with the bullet points */
	position: relative;
}
li::before {
	content: '\2022'; /* Unicode character for a bullet point */
	color: #04aa6d; /* Color of the bullet point */
	font-size: 1.5em; /* Adjust the size of the bullet point */
	font-weight: bold; /* Make the bullet point bold */
	position: absolute;
	left: 0px; /* Adjust the position of the bullet point */
	top: 50%;
	transform: translateY(-50%);
}

.testimonial {
	flex: 1;
	max-width: 400px;
	margin-bottom: 30px;
}

.testimonial h2 {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 15px;
}

.testimonial p {
	font-size: 16px;
	color: #555;
}

.author {
	font-style: italic;
	color: #555;
}

.call-to-action {
	flex: 1;
	max-width: 400px;
	margin-bottom: 30px;
}

.call-to-action h2 {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 15px;
}

.call-to-action p {
	font-size: 16px;
	color: #555;
	margin-bottom: 15px;
}

.btn {
	background-color: #04aa6d;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn-primary {
	background-color: #04aa6d;
}

.btn:hover,
.btn-primary:hover {
	background-color: #055c3e;
}
