<div class="home-container">
	<div class="logo">
		<span class="bold">Kanbanly</span>
	</div>
	<div class="slogan">
		<span>Simplify. Visualize. Succeed.</span>
	</div>
	<div class="content-container">
		<div class="login-form">
			<form>
				<div class="form-group">
					<label for="email">Email:</label>
					<input
						type="email"
						id="email"
						name="email"
						placeholder="Enter your email"
					/>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input
						type="password"
						id="password"
						name="password"
						placeholder="Enter your password"
					/>
				</div>
				<button type="submit">Login</button>
			</form>
		</div>
	</div>
</div>
