// Define your color palette
$minty: #04aa6d;
$minty-tinted: #055c3e;
$gold: #ffd700;
$gold-tinted: #756401;
$error: #ed4337;
$error-tinted: #812720;
$ltGray: #eeeeee;
$midGray: #999999;
$drkGray: #555;
$matt: #333;

.link {
  color: $minty;
  text-decoration: underline;
  cursor: pointer;
}

/* Reset CSS */

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin and padding reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* List reset */
ul,
ol {
  list-style: none;
}

/* Typography reset */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Heading reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Anchor reset */
a {
  text-decoration: none;
  color: inherit;
}

/* Button reset */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Input reset */
input {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Reset form elements */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Reset HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Reset image border */
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
/* Custom properties */
.bold {
  font-weight: bold;
}
