<div *ngIf="authSvc.isAuthenticated" class="mainContainer">
  <app-sidebar></app-sidebar>
  <div *ngIf="!workspaceSvc.isTableEmpty" class="home">
    <!-- Use safe navigation operator to guard against accessing properties on potentially undefined objects -->
    <app-board
      *ngFor="let board of workspaceSvc.currentWorkspace?.arrayOfBoards || []"
      [board]="board"
    ></app-board>
    <div class="add-board" (click)="boardSvc.addBoard()">
      <span class="plus">+</span>
    </div>
  </div>
  <div *ngIf="workspaceSvc.isTableEmpty" class="createNewWsp">
    <div class="makeNewMsg">
      Get started by creating a new workspace in the sidebar!
    </div>
  </div>
</div>
<div *ngIf="!authSvc.isAuthenticated" class="authErr">
  <div class="errMsg">Please login/ sign up to use the tool!</div>
</div>
<app-footer></app-footer>
