@import "src/styles.scss";

.mainContainer {
  padding-top: 64px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: calc(100% - 220px); /* Adjusted width */
  margin-left: 220px; /* Move content to the right */
  .kanban {
    overflow-y: auto;
    app-board {
      height: calc(100vh - 128px);
    }
  }
}
.home {
  width: fit-content;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
}
.add-board {
  height: calc(100vh - 128px);
  padding: 20px;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $midGray;
  cursor: pointer;
  fa-icon {
    color: $ltGray;
    font-size: 24px;
  }
}
.add-board:hover {
  background-color: $drkGray;
  fa-icon {
    color: white;
  }
}

.authErr {
  width: 100%;
  padding-top: 192px;
  padding-bottom: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errMsg {
  padding: 48px 48px;
  font-size: 36px;
  font-weight: bold;
  background-color: $ltGray;
  color: $error;
}

.createNewWsp {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 128px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.makeNewMsg {
  padding: 48px 48px;
  font-size: 36px;
  font-weight: bold;
  color: $matt;
}
