@import "src/styles.scss";

.mainContainer {
  padding-top: 64px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%; /* Add this line */
}
.home {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
}
.add-board {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 48px;
  background-color: $midGray;
  cursor: pointer;
  fa-icon {
    color: $ltGray;
  }
}
.add-board:hover {
  background-color: $drkGray;
  fa-icon {
    color: white;
  }
}

.authErr {
  width: 100%;
  padding-top: 192px;
  padding-bottom: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errMsg {
  padding: 48px 48px;
  font-size: 36px;
  font-weight: bold;
  background-color: $ltGray;
  color: $error;
}

.createNewWsp {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 128px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.makeNewMsg {
  padding: 48px 48px;
  font-size: 36px;
  font-weight: bold;
  color: $matt;
}
