<div *ngIf="authSvc.isAuthenticated" class="mainContainer">
  <app-sidebar></app-sidebar>
  <div *ngIf="!workspaceSvc.isTableEmpty" class="home">
    <app-board
      *ngFor="let board of boardSvc.boards || []"
      [board]="board"
    ></app-board>
    <div class="add-board" (click)="modalSvc.openNewBoardModal()">
      <span class="plus">+</span>
    </div>
  </div>
  <div *ngIf="workspaceSvc.isTableEmpty" class="createNewWsp">
    <div class="makeNewMsg">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Get started by creating a new workspace in the sidebar!
    </div>
  </div>
</div>
<div *ngIf="!authSvc.isAuthenticated" class="authErr">
  <div class="errMsg">Please login/ sign up to use the tool!</div>
</div>

<app-new-board-modal
  *ngIf="modalSvc.isOpenNewBrdMdl"
  [currentWorkspaceId]="workspaceSvc.currentWorkspaceId"
></app-new-board-modal>
