@import "src/styles.scss";

.note {
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;

  .note-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    word-wrap: break-word;
  }

  .icons {
    display: inline-flex;
    margin-left: auto;
  }

  .icons fa-icon {
    margin-left: 5px;
    color: $matt;
  }

  fa-icon[type="rename"]:hover {
    color: $edit;
  }

  fa-icon[type="delete"]:hover {
    color: $error;
  }

  .desc {
    font-size: 14px;
    color: $matt;
    overflow-wrap: anywhere;
  }
  .separator {
    border-top: 1px solid $matt;
    margin-bottom: 5px;
  }
}
